// {
//     "presets": [
//         [
//             "@babel/preset-env",
//             {
//                 "targets": {
//                     "node": "current"
//                 },
//                 "modules": false
//             }
//         ]
//     ]
// }
{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    // "@babel/plugin-proposal-class-properties",
    // "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-class-properties",
    "@babel/plugin-transform-object-rest-spread"
  ]
}
